<!--Navbar-->
<nav class="pl-5 pr-5 navbar navbar-expand-lg navbar-light bg-light sticky-top">

    <!-- Navbar brand -->
    <a class="navbar-brand font-weight-bold title" href="" style="font-size: 30px; font-weight:bold; color: black;"><h1>Awwards</h1></a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
           
        </ul>

        <!-- Links -->

        {% if user.is_authenticated %}
        <form class="form-inline" action="{% url 'search_results' %}">
            <div class="md-form my-1">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="keyword">
            </div>
        </form>
        

        <div class="col-sm-3 " style="float: right; margin-top: -2px; margin-right: 80px">
         
            <a class="nav-link btn btn-outline-info text-dark success-color-dark" href="{%url 'new-project'%}" style="margin-left: 30%;margin-top: 1%;">SUBMIT YOUR WEBSITE </a>

    
            <div class="dropdown">
                <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: -18%; margin-left: 200%;">
                  Account
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/">Home</a></li>
                    <li>
                        <a class="dropdown-item" href="{% url 'profile'%}">Create Profile</a>
                    </li>
                    <li><a class="dropdown-item" href="/accounts/password/change">Change Password</a></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </div>

            {% else %}
            
            <button class="btn btn-outline-info" style="margin-top: 4%;margin-left:10%;">
                <a class="nav-link {% block registeractive %} {% endblock registeractive %}" href="register/">Register</a>
          

            </button>
            <button class="btn btn-outline-info" style="margin-top: 4%;">
                <a class='nav-link {% block loginactive %} {% endblock loginactive %}' href="login/">Login</a>
            </button>
            
            {% endif %}

        </div>

    </div>
    <!-- Collapsible content -->
</nav>
<!--/Navbar-->